body{
  overflow-x: hidden;
  padding-left: 200px;
}
.ju{
  background-color:#fff; 
}
.ya{
  background-color:#000; 
  color: #fff;
}
header {
  width: 200px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #F5C5E7;
  color: white;
}
header div.wrap {
  width: auto;
  height: 100%;
  padding: 20px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
header div.wrap h1 {
  order: 2;
  font-size: 100%;
  font-weight: normal;
  line-height: 20px;
  color: #000;
}
header div.wrap h1 a {
  
}
header div.wrap ul.gnb {
 order: 3;
}
header div.wrap ul.gnb li {
  line-height: 1.4;
}
header div.wrap ul.gnb li a {
  color: #eee;
  font-size: 13px;
}
header div.wrap ul.enb {
  order: 1;
  display: flex;
  font-size: 13px;
  justify-content: space-between;
}
header div.wrap ul.enb li {
  
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
header div.wrap ul.enb li a {
  
  line-height: 1.4;
  display: block;
  color: white;
  width: 20px;
  height: 20px;
  font-size: 0;
}
header div.wrap ul.enb li:nth-child(1){
  background-image: url(../img/day.svg)
}
header div.wrap ul.enb li:nth-child(2){
  background-image: url(../img/night.svg)
}
/* 타이틀영역 */
#title{
  height: 800px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #ff8888));
  background: -moz-linear-gradient(top, #ffffff 0%, #ff8888 100%);
  background: -webkit-linear-gradient(top, #C1BEEB 0%, #FFF0B6 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #ff8888 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #ff8888 100%);
  background: linear-gradient(top, #ffffff 0%, #ff8888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ff8888', gradientType=0);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#title .wrap{
  
}
#title .wrap .main-heading-wrapper{
  
}
#title .wrap .main-heading-wrapper h2{
  position: relative;
  z-index: 1;
  margin-right: 0px;
  margin-left: 0px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 99px;
  line-height: 87px;
  font-weight: 800;
  text-transform: uppercase;
}
#title .wrap .main-heading-wrapper h2.without-code {
  color: white;
}
main {
  height: 300%;
  transition: all 1s;
  background-size: cover;
}
main section{
  height: calc(100% / 3);
  border: 2px solid;
  box-sizing: border-box;
}
aside {
  position: absolute;
  right: -170px;
  top: 30px;
  width: 170px;
  min-height: 300px;
  background-color: #FFF0B6;
  transition: all 1s;
}
aside button {
  all: unset;
  width: 40px;
  height: 80px;
  position: absolute;
  left: -40px;
  background-color: #FFF0B6;
  background-image: url(../img/leftarrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 14px 0 0 14px;
  cursor: pointer;
}
.buttonreverse{
   background-image: url(../img/rightarrow.svg);
}
.current{
  background-color: #C1BEEB;
  color: white;
}
.current a{
  color: white !important;
}
.asideshow{
  right: 0;
}
/* basic */
main #basic {
  
}
main #basic .wrap {
  
}
main #basic .wrap article {
  
}
main #basic .wrap article h2 {
  
}
main #basic .wrap article > p {
  
}
main #basic .wrap article ul.list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  margin-top: 30px;
}
main #basic .wrap article ul.list li {
  width: calc(100% / 2);
  padding: 0 20px;
  box-sizing: border-box;
  transition: all 0.7s;
  border: 1px solid transparent;
}
main #basic .wrap article ul.list li:nth-child(2n+1){
  border-right:1px solid #ccc;
}
main #basic .wrap article ul.list li a {
  
}
main #basic .wrap article ul.list li a h3 {
  background-color: #f5c5e7;
  line-height: 1.3;
  padding-left: 15px; 
  
}
main #basic .wrap article ul.list li a p {
  
}
/* middle */
main #middle{
  
}
main #middle .wrap{
  
}
main #middle .wrap article{
  
}
main #middle .wrap article h2{
  
}
main #middle .wrap article > p{
  
}
main #middle .wrap article ul.list{
  flex-wrap: wrap;
  row-gap: 20px;
  margin-top: 30px;
}
main #middle .wrap article ul.list li{
  width: calc(100% / 2);
  padding: 0 20px;
  box-sizing: border-box;
  transition: all 0.7s;
  border: 1px solid transparent;
}
main #middle .wrap article ul.list li h3{
  background-color: #f5c5e7;
  line-height: 2;
  padding-left: 15px;
  margin: 0 -20px;
  box-sizing: border-box;
}
.color{
  background-color: #C1BEEB;
}
main #middle .wrap article ul.list li p{
  
}
/* use */
main #use{
  
}

.main-heading-wrapper {
  position: relative;
  /*! margin-top: 76px; */
  /*! margin-bottom: 76px; */
  padding: 100px 200px 30px;
}

/*  */
h1{
  position: relative;
  z-index: 1;
  margin-right: 0px;
  margin-left: 0px;
  font-family: "Montserrat", sans-serif;
  color: #FFF0B6;
  font-size: 80px;
  line-height: 87px;
  font-weight: 800;
  text-transform: uppercase;
}
.without-code {
  color: white;
}
.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
.w-hidden-small{
  /*! padding-bottom: 57px; */
  font-family: futura-pt, sans-serif;
  color: black;
  font-size: 28px;
  line-height: 34px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  text-transform: none;
  padding-left: 0;
  padding-top: 30px;
}


/* 활용 */
#use .slick{
  width: 100%;
}
#use .slick .slic{
  
}
#use .slick .slic li{
  height: 100px;
}
#use .slick .slic li.slic1{
  background-color: #C1BEEB;
}
#use .slick .slic li.slic2{
  background-color: #C3E6CB;
}
#use .slick .slic li.slic3{
  background-color: #FFF0B6;
}
 /* gallery */
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
  clear: both;
}
.row img {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.gallery ul li {
  float: left;
  margin: 0 0.8771929825%;
  overflow: hidden;
}
header p {
  padding-top: 30px;
}

.gallery {
  padding: 40px 0 300px;
  position: relative;
  overflow: hidden;
}
.gallery ul {
  padding-top: 50px;
  position: relative;
}
.gallery ul li {
  margin-bottom: 20px;
  width: 23.2456140351%;
  position: relative;
}
.gallery ul li a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 0;
}
.gallery ul li a:before {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 40%;
  left: 50%;
  margin: -14px 0 0 -16px;
  background: url(data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20id%3D%22svg2%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Asodipodi%3D%22http%3A//sodipodi.sourceforge.net/DTD/sodipodi-0.dtd%22%20xmlns%3Ainkscape%3D%22http%3A//www.inkscape.org/namespaces/inkscape%22%20inkscape%3Aversion%3D%220.48.4%20r9939%22%20sodipodi%3Adocname%3D%22icon-fullscreen.svg%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20960%20560%22%0A%09%20enable-background%3D%22new%200%200%20960%20560%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Csodipodi%3Anamedview%20%20borderopacity%3D%221%22%20pagecolor%3D%22%23ffffff%22%20bordercolor%3D%22%23666666%22%20objecttolerance%3D%2210%22%20gridtolerance%3D%2210%22%20guidetolerance%3D%2210%22%20showgrid%3D%22false%22%20fit-margin-top%3D%220%22%20fit-margin-left%3D%220%22%20inkscape%3Azoom%3D%227.375%22%20inkscape%3Acx%3D%22-5.1525424%22%20inkscape%3Acy%3D%2216%22%20id%3D%22namedview11%22%20inkscape%3Awindow-x%3D%22-8%22%20inkscape%3Awindow-y%3D%22-8%22%20fit-margin-right%3D%220%22%20inkscape%3Apageopacity%3D%220%22%20fit-margin-bottom%3D%220%22%20inkscape%3Awindow-width%3D%221366%22%20inkscape%3Awindow-height%3D%22706%22%20inkscape%3Awindow-maximized%3D%221%22%20inkscape%3Apageshadow%3D%222%22%20inkscape%3Acurrent-layer%3D%22svg2%22%3E%0A%09%3C/sodipodi%3Anamedview%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%22220%22%20y%3D%22260%22%20fill%3D%22%23FFFFFF%22%20width%3D%22536%22%20height%3D%2224%22/%3E%0A%3C/g%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%22476%22%20y%3D%224%22%20fill%3D%22%23FFFFFF%22%20width%3D%2224%22%20height%3D%22556%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A) no-repeat;
  content: "";
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.gallery ul li a:hover:before {
  top: 50%;
  opacity: 1;
}
.gallery ul li a:after {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  content: "";
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  right: 0;
}
.gallery ul li a:hover:after {
  opacity: 1;
}

.port {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 100px;
  background: #ffffff;
  background-color: #fafafa;
  z-index: 103;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  border-bottom: 1px solid #d0d0d0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.port img {
  width: 50%;
}
.port .description {
  float: left;
  width: 50%;
  max-height: 100%;
  padding: 0 40px 40px;
  overflow: auto;
}
.port h1 {
  font-size: 35px;
  line-height: 2.3;
  padding: 0;
}
.port > * {
  opacity: 0;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.port.item_open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.port > * {
  opacity: 1;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.close {
  width: 21px;
  height: 21px;
  background: url(data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20id%3D%22svg2%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2021%2021%22%0A%09%20enable-background%3D%22new%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20id%3D%22layer1%22%20transform%3D%22translate%280%2C-1031.3622%29%22%3E%0A%09%3Cpath%20id%3D%22path2987%22%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20d%3D%22M0%2C1031.4l21%2C21%22/%3E%0A%09%3Cpath%20id%3D%22path2989%22%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20d%3D%22M21%2C1031.4l-21%2C21%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A%0A) no-repeat;
  position: absolute;
  right: 10px;
  top: -121px;
  opacity: 1;
  z-index: 1004;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.item_open .close {
  opacity: 1;
  top: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}









